form(action="/cart" method="POST")
    if isLoggedIn
        input(type="hidden" name="_csrf" value=`${csrfToken}`) 
        button(class='btn' type="submit") Add to cart
    input(type="hidden" name="cartAddId" value=`${product._id}`)