extends ../layouts/main-layout.pug

block content 
    main
        h1(style="font-size: 3rem;") Oops! Some technical error has occurred behind the scenes!
        p(style="font-size: 1rem;") We're working on it! feel free to try again by refreshing or try a different page.