.product-form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.form-control {
	display: flex;
	flex-direction: column;
	margin-bottom: 0.5rem;
}

.form-control label {
	font-size: 17px;
	font-family: inherit;
	margin: 0 1px;
	color: rgba(0, 0, 0, 0.801);
}

.form-control input {
	border: 2px solid #123fd39f;
	border-radius: 6px;
	font: inherit;
	width: 400px;
	height: 32px;
	padding: 0 10px;
}

.form-control .file-picker-input {
	height: auto;
	padding: 0;
	font-size: 12px;
	color: #123fd39f;
}
/* hide the default html5 file upload button */
.file-picker-input::-webkit-file-upload-button {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	z-index: -1;
}
/* style the upload button */
.file-picker-input::before {
	cursor: pointer;
	content: 'Choose file';
	display: inline-block;
	border-right: 2px solid #123fd39f;
	outline: none;
	white-space: nowrap;
	-webkit-user-select: none;
	font-size: 12px;
	padding: 4px 10px;
	color: #123fd39f;
	transition: all 0.2s ease-in;
	font-weight: 700;
}

.file-picker-input:hover::before {
	color: white;
	background-color: #0b2a91e7;
}

.file-picker-input:active::before {
	outline-color: #662fbee8;
	border-color: #2807bec9;
}

.form-control .input-error {
	border-color: #f05454a1 !important;
}

.form-control textarea {
	border: 2px solid #123fd39f;
	border-radius: 6px;
	font: inherit;
	width: 600px;
	height: 75px;
	padding: 5px 10px;
}

.form-control textarea::placeholder,
.form-control input::placeholder {
	color: rgba(143, 143, 143, 0.945);
	font-size: 14px;
	font-family: inherit;
}

.form-control textarea:focus,
.form-control textarea:active,
.form-control input:focus,
.form-control input:active {
	outline-color: #662fbee8;
	border-color: #2807bec9;
}

button {
	margin-top: 10px;
	width: 35%;
	height: 30px;
	background-color: white;
	color: #123fd39f;
	border-color: #123fd39f;
	font-size: 16px;
	box-shadow: initial;
	border-radius: 6px;
	cursor: pointer;
	transition: all 0.2s ease-in;
}

button:hover {
	color: white;
	background-color: #0b2a91e7;
}

@media only screen and (max-width: 500px) {
	main {
		width: fit-content;
	}

	.form-control input {
		width: 100%;
	}
}
