html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title #{docTitle}
        link(rel="stylesheet", href="/css/main.css")
        link(rel="stylesheet", href="/css/user-message.css")
        block styles

    body
        .backdrop
        header.main-header
            button#side-menu-toggle Menu  
            nav.main-header__nav
                .main-header__item-list
                    .main-routes
                        a(href="/" , class=(path === '/' ? 'active main-header__item ' : 'main-header__item ')) Shop
                        a(href="/products/?page=1" , class=(path === '/products' ? 'active main-header__item ' : 'main-header__item ')) Products

                        if isLoggedIn
                            
                            a(href="/cart" , class=(path === '/cart' ? 'active main-header__item ' : 'main-header__item ')) Cart
                            a(href="/orders" , class=(path === '/orders' ? 'active main-header__item ' : ' main-header__item ')) Orders
                            a(href="/checkout" , class=(path === '/checkout' ? 'active main-header__item ' : ' main-header__item ')) Checkout
                            a(href="/admin/add-product", class=(path === '/admin/add-product' ? 'active main-header__item ' : ' main-header__item ')) Add Product
                            a(href="/admin/admin-products/?page=1", class=(path === '/admin/admin-products' ? 'active main-header__item ' : ' main-header__item ')) Admin Products

                    .auth-routes
                        if !isLoggedIn
                            input(type="hidden" name="_csrf" value=`${csrfToken}`) 
                            a(href="/login" , class=(path === '/login' ? 'active main-header__item ' : ' main-header__item ')) Login
                            input(type="hidden" name="_csrf" value=`${csrfToken}`) 
                            a(href="/signup", class=(path === '/signup' ? 'active main-header__item ' : ' main-header__item ')) Signup

                        else
                            form(action="/logout" class="logout-form__wrapper" method="POST")
                                input(type="hidden" name="_csrf" value=`${csrfToken}`) 
                                button(class="main-header__item" type="submit") Logout

        nav.mobile-nav
            .mobile-nav__item-list
                li.mobile-nav__item
                    a(class=(path === '/' ? 'active' : '') href="/") Shop
                li.mobile-nav__item
                    a(class=(path === '/products' ? 'active' : '') href="/products") Products
                li.mobile-nav__item
                    a(class=(path === '/cart' ? 'active' : '') href="/cart") Cart 
                li.mobile-nav__item
                    a(class=(path === '/orders' ? 'active' : '') href="/orders") Orders

                if isLoggedIn
                    li.mobile-nav__item
                        a(class=(path === '/admin/add-product' ? 'active' : '') href="/admin/add-product") Add Product
                    li.mobile-nav__item
                        a(class=(path === '/admin/products' ? 'active' : '') href="/admin/products") Admin Products

                li.main-header__item 
                    a(href="/login" , class=(path === '/login' ? 'active' : '')) Login
                    
        block content

        //- script(src="https://js.stripe.com/terminal/v1/")
        script(type="text/javascript" src="/public/scripts/mobileControl.js")
        script(type="text/javascript" src="/public/scripts/domUtils.js")
        script(type="text/javascript" src="/public/scripts/stripe.js")